.main-header {
    background: #fff;
}

.main-navigation {

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 55px;
        padding: 0;
        margin: 0;
    }

    &__item {
        width: 140px;
        text-align: center;

        &--logo {
            align-self: flex-start;
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: 14px;
        color: #000;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: #81b3d2;
            cursor: pointer;
        } 

        &:active {
            color: #b2b2b2;
        }
    }

    &__logo {
        width: 138px;
        height: 70px;
    }
}
