body {
    position: relative;
}

.main-footer {

    &--opacity {
        position: absolute;
        bottom: 0;
        left: calc(50% - 600px);
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 120px;

        &--opacity {
            background: rgba(255, 255, 255, 0.9);
        }
    }

    &__tag-wrapper {
        width: 195px;
    }

    &__tag {
        text-transform: uppercase;
        font-size: 21px;
        color: #000;
        text-decoration: none;
        font-weight: bold;
    }

    &__social-wrapper {
        display: flex;
        //margin-left: 50px;
    }

    &__social {
        display: block;
        width: 46px;
        height: 48px;
        background: #81b3d2 no-repeat;
        font-size: 0;

        &:not(:last-child) {
            margin-right: 8px;
        }

        &:hover {
            background-color: #669ec1;
            cursor: pointer;
        } 

        &:active {
            background-color: #5596be;
        }

        &--twitter {
            background-image: url('/img/twitter.png');
            background-position: center;

            &:active {
                background-image: url('/img/t2.png');
            }
        }

        &--facebook { 
            background-image: url('/img/facebook.png');
            background-position: center;

            &:active {
                background-image: url('/img/f2.png');
            }
        }

        &--youtube {
            background-image: url('/img/youtube.png');
            background-position: center;

            &:active {
                background-image: url('/img/y2.png');
            }
        }
    }

    &__copyright-wrapper {
        display: flex;
        align-items: center;   
    }

    &__copyright-text {
        text-transform: uppercase;
        font-size: 14px;
        color: #000;
        margin-right: 10px;
    }

    &__copyright-academy {
        background-image: url('/img/academy.png');
        width: 113px;
        height: 39px;

        &:hover {
            background-image: url('/img/academy2.png');
            cursor: pointer;
        } 

        &:active {
            background-image: url('/img/academy3.png');
        }
    }
}
