.search-hotel {
    text-transform: uppercase;

    &__question {
        font-size: 30px;
        margin: 60px auto 35px;
        text-align: center;
    }

    &__text {
        font-size: 14px;
        text-align: center;
        margin-bottom: 55px;
    }

    &__form-wrapper {
        position: relative;
    }

    &__button {
        width: 568px;
        padding: 30px;
        background-color: #766357; 
        font-size: 21px;
        text-align: center;
        font-weight: bold;
        color: #fff;
        margin: 0 auto;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 568px;
        padding: 55px;
        background: #fff;
        left: calc(50% - 284px);
    }

    &__element-minus {
        height: 38px;
        width: 38px;
        background: #f2f2f2;
        position: absolute;
        z-index: 2;

        &::before {
            content: "";
            display: block;
            width: 12px;
            position: absolute;
            height: 3px;
            background: #a9a9a9;
            bottom: 17px;
            left: 13px;
        }

        &:hover::before {
            background: #000;
            cursor: pointer;
        }

        &:active::before {
            background: #81b3d2;
        }

        &--adults {
            margin-left: 112px;
        }

        &--children {
            margin-left: 344px;
        }
    }

    &__element-plus {
        height: 38px;
        width: 38px;
        background: #f2f2f2;
        position: absolute;
        z-index: 2;

        &::before {
            content: "";
            display: block;
            width: 12px;
            position: absolute;
            height: 3px;
            background: #a9a9a9;
            bottom: 17px;
            left: 13px;
        }

        &::after {
            content: "";
            display: block;
            width: 12px;
            position: absolute;
            height: 3px;
            background: #a9a9a9;
            bottom: 17px;
            left: 13px;
            transform: rotate(90deg);
        }

        &:hover::before {
            background: #000;
            cursor: pointer;
        }

        &:active::before {
            background: #81b3d2;
        }

        &:hover::after {
            background: #000;
            cursor: pointer;
        }

        &:active::after {
            background: #81b3d2;
        }

        &--adults {
            margin-left: 188px;
        }

        &--children {
            margin-left: 420px;
        }
    }

    &__line {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 55px;
        }
    }

    &__form-input {
        background: #f2f2f2 no-repeat;
        border: none;
        padding: 15px;
        text-transform: uppercase;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        position: relative;
        z-index: 1;
        outline: none;

        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }

        &:focus {
            background-color: #fff;
            background-repeat: no-repeat;
            border: 2px solid #f2f2f2;
            cursor: pointer;
        }

        &--long {
            width: 346px;
            height: 38px;
            padding-right: 40px;
            background-image: url('/img/date.png');
            background-position: 98%;

            &:hover {
                background-image: url('/img/date2.png');
                cursor: pointer;
            } 

            &:active {
                background-image: url('/img/date3.png');
            }
        }

        &--short {
            width: 114px;
            height: 38px; 
            text-align: center;
        } 
    }

    &__form-items {
        font-size: 14px;
        color: #000;
        font-weight: bold;
    }

    &__form-button {
        width: 100%;
        background: #81b3d2;
        font-size: 21px;
        text-align: center;
        font-weight: bold;
        color: #fff;
        margin: 0 auto;
        padding: 15px;

        &:hover {
            background: #669ec1;
            cursor: pointer;
        } 

        &:active {
            background: #5596be;
            color: #96b8d4;
        }
    }

    &__map {
        height: 593px;
        //background: url('/img/map.png');
    }
}
