* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}


@import "./normalize";
@import "./components/main-header";
@import "./components/welcome";
@import "./components/features";
@import "./components/search-hotel";
@import "./components/main-footer";
@import "./components/search-bar";
@import "./components/search-result";
